<h2> New Goal </h2>
<form action="/goals" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="goal[title]" value="<%=@goal.title%>">
  </label>

  <label>Description
    <textarea name="goal[body]"><%=@goal.body%></textarea>
  </label>

  <label> Private Goal?
    <input id="Private" type="checkbox" name="goal[private]" value="true">
  </label>

  <input type="submit" value="Create Goal">

</form>
