h1 {
  text-align: center;
}

ul {
  width: 600px;
  list-style: none;
  margin: 0 auto;
}

li {
  float: left;
  min-height: 200px;
  width: 33.33%;
  box-sizing: border-box;
  border: 10px solid green;
  background-color: gray;
  font-size: 125px;
  font-weight: bold;
  text-align: center;

  padding-top: 5px;
  padding-bottom: 5px;
}

li:hover {
  background-color: yellow;
  cursor: pointer;
}

.white {
  background: white;
}

.redText {
  color: red;
}

.blueText {
  color: blue;
}

.ttt {
  position: relative;

}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  display: block;
  position: absolute;
  left: 400px; 
  bottom: -120px;
  text-align: center;
}
